{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Made with python</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="Timely: One Notebook For Every Need" />
    <meta
      name="description"
      content="Timely can be used to create quick Notebooks with pages and many more things."
    />

    {% comment %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://timely.pythonanywhere.com/" />
    <meta property="og:title" content="Timely: One Notebook For Every Need" />
    <meta
      property="og:description"
      content="Timely can be used to create quick Notebooks with pages and many more things."
    />
    <meta property="og:image" content="resoures/img/For_website.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://timely.pythonanywhere.com/" />
    <meta
      property="twitter:title"
      content="Timely: One Notebook For Every Need"
    />
    <meta
      property="twitter:description"
      content="Timely can be used to create quick Notebooks with pages and many more things."
    />
    <meta property="twitter:image" content="resoures/img/For_website.png" />
    {% endcomment %}
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="{% static 'vendors/css/halfmoon.css' %}" rel="stylesheet" />
    <script src="{% static 'vendors/js/htmx.min.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
    {% comment %}
    <link
      href="https://fonts.googleapis.com/css?family=Roboto|Lora|Poppins"
      rel="stylesheet"
    />
    {% endcomment %}
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />

    {% block head %} {% endblock head %}
  </head>
  <body>
    <!-- Navbar nav scrolling -->
    <nav
      class="navbar navbar-expand-md"
      style="
        background-color: var(--bs-content-bg);
        border-bottom: var(--bs-border-width) solid
          var(--bs-content-border-color);
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          Sajan Giri
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse-2"
          aria-controls="navbar-collapse-2"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Docs</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link disabled">Blog</a>
            </li>
			
			{% if user.is_authenticated %}
			<li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ user.username }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end mt-md-2 rounded-top-0">
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">Form builder</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Plan and pricing</a></li>
              </ul>
            </li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link">Login/Register</a>
			</li>	
			{% endif %}
				
			
          </ul>
        </div>
      </div>
    </nav>

    <!-- Navbar end -->
    <!-- Flash messages -->
    {% if messages %}
    <div class="toast-container position-fixed top-0 end-0 p-3">
      {% for message in messages %}
      <div
        id="toast-{{ forloop.counter }}"
        class="toast text-bg-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} border-0 shadow-none show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body">
            <strong class="me-2 text-capitalize">{{ message.tags }}:</strong> {{
            message }}
          </div>
          <div class="me-2 m-auto">
            <button
              type="button"
              class="btn-close close-toast"
              data-toast-id="toast-{{ forloop.counter }}"
              aria-label="Close"
              data-bs-theme="dark"
            ></button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var toasts = document.querySelectorAll(".toast");

        toasts.forEach(function (toastElement) {
          // Auto-hide after 8 seconds (8000ms)
          setTimeout(function () {
            toastElement.classList.remove("show"); // Hide the toast
            toastElement.classList.add("fade"); // Smooth fade effect
          }, 8000);
        });

        // Manually close on button click
        document.querySelectorAll(".close-toast").forEach(function (button) {
          button.addEventListener("click", function () {
            var toastId = this.getAttribute("data-toast-id");
            var toastElement = document.getElementById(toastId);
            if (toastElement) {
              toastElement.classList.remove("show");
              toastElement.classList.add("fade");
            }
          });
        });
      });
    </script>
    {% endif %}
    {% block content %}
     {% endblock %}
  </body>
</html>
