{% load static %}
<!-- Card image as background -->
<div class="card" style="width: 18.75rem; position: relative;">
  <img src="{% static 'resoures/images/tags_icon/stats.jpg' %}" class="card-img" alt="...">
  <div class="card-img-overlay d-flex flex-column justify-content-end p-2" style="width: 98%; height: 30%; top: 65%;">
    <div class="bg-dark bg-opacity-50 text-white p-3" >
    <h5 class="card-title text-center mb-0">Card title</h5>
    <p class="card-text text-center">Some quick example content.</p>
    </div>
  </div>
</div>


<figure class="figure mb-0" style="width: 18.75rem;">
  <img src="{% static 'resoures/images/tags_icon/stats.jpg' %}" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption text-center">
    A caption for the above image.
  </figcaption>
</figure>
