{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user.first_name|default:user.username }} | Update Profile
{% endblock title %}

{% block body %}

<div class="container-fluid py-4">
    <div class="row">
        <!-- Left Column: Profile Card -->
        <div class="col-lg-4">
            <div class="card shadow-sm p-3">
                <div class="content text-center">
                    <img src="https://placehold.co/128x128/EBF1FF/7F9CF5?text={{ user.first_name.0|upper }}{{ user.last_name.0|upper }}" alt="User Avatar" class="img-fluid rounded-circle mb-3" style="width: 128px; height: 128px;">
                    <h2 class="content-title font-weight-bold">
                        {{ user.first_name }} {{ user.last_name }}
                    </h2>
                    <p class="text-muted">@{{ user.username }}</p>
                    <hr>
                    <div class="text-start">
                        <p class="text-muted mb-1"><i class="ph ph-envelope mr-2"></i> {{ user.email }}</p>
                        <p class="text-muted mb-0"><i class="ph ph-calendar mr-2"></i> Joined {{ user.date_joined|date:"F Y" }}</p>
                        <p class="text-muted mb-0"><i class="ph ph-pin mr-2"></i> Last Login {{ user.last_login|date:"d F, Y - h:i A" }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column: Update Form -->
        <div class="col-lg-8 mt-3 mt-lg-0">
            <div class="card shadow-sm">
                <div class="content p-4">
                    <h1 class="content-title font-weight-bold mb-4">Update Profile</h1>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form action="{% url 'update_user' %}" method="post">
                        {% csrf_token %}

                        <!-- Personal Information Section -->
                        <h4 class="mb-3 font-weight-bold border-bottom pb-2">Personal Information</h4>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {% comment %} <label for="first-name" class="form-label">First Name</label>
                                <input type="text" id="first-name" name="first_name" value="{{ user.first_name }}" class="form-control"> {% endcomment %}
                                <smart-input label="First Name" name="first_name" type="text" value="{{ user.first_name }}" required></smart-input>
                            </div>
                            <div class="col-md-6 mb-3">
                                {% comment %} <label for="last-name" class="form-label">Last Name</label> {% endcomment %}
                                {% comment %} <input type="text" id="last-name" name="last_name" value="{{ user.last_name }}" class="form-control"> {% endcomment %}
                                <smart-input label="Last Name" name="last_name" type="text" value="{{ user.last_name }}" required></smart-input>
                            </div>
                        </div>
                        <div class="mb-3">
                            {% comment %} <label for="dob" class="form-label">Date of Birth</label>
                            <input type="date" id="dob" name="date_of_birth" value="{{ profile.date_of_birth|date:'Y-m-d' }}" class="form-control"> {% endcomment %}
                            <smart-input 
                                type="datepicker" 
                                name="date_of_birth" 
                                label="Date of Birth" 
                                max-date="01-01-2010"
                                value="{{ profile.date_of_birth|date:'d-m-Y' }}"
                                required>
                            </smart-input>
                        </div>

                        <!-- Account Information Section -->
                        <h4 class="mt-4 mb-3 font-weight-bold border-bottom pb-2">Account Information</h4>
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" value="{{ user.username }}" class="form-control" disabled>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email (Must be Verified)</label>
                            <div class="input-group">
                                <input type="email" name="email" class="form-control" value="{{ user.email }}" placeholder="Email address" disabled>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#updateEmailModal">Update Email</button>
                            </div>
                        </div>

                        <!-- Contact & Preferences Section -->
                        <h4 class="mt-4 mb-3 font-weight-bold border-bottom pb-2">Contact & Preferences</h4>
                        <div class="mb-3">
                            <label for="phone_no_prefix" class="form-label">Phone No.</label>
                            <div class="input-group">
                                <select class="form-select" name="phone_no_prefix" id="phone_no_prefix" style="max-width: 150px;">
                                    <option value="">Prefix</option>
                                    {% for prefix in phone_no_prefixes %}
                                        <option value="{{ prefix.id }}" {% if prefix.id == user.profile.phone_no_prefix.id %}selected{% endif %}>{{ prefix.phone_no_prefix }}</option>
                                    {% endfor %}
                                </select>
                                <input type="tel" class="form-control" placeholder="1234567890" aria-label="Phone No." name="phone_no" max="10" value="{{ profile.phone_no|default:'' }}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="currencies" class="form-label">Preferred Currency</label>
                            <select class="form-select" name="currencies" id="currencies">
                                <option value="">Select Currency</option>
                                {% for currency in currencies %}
                                    <option value="{{ currency.id }}" {% if currency.id == user.profile.currency.id %}selected{% endif %}>{{ currency.symbol }} - {{ currency.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <!-- Professional Information Section -->
                        <h4 class="mt-4 mb-3 font-weight-bold border-bottom pb-2">Professional Information</h4>
                        {% if not is_student or instuructor %}
                        <div class="mb-3">
                            {% comment %} <label for="experience" class="form-label">Experience (in years)</label>
                            <input type="number" id="experience" name="experience" value="{{ user.experience }}" class="form-control"> {% endcomment %}
                            <smart-input label="Experience (in years)" id="experience" name="experience" type="number" value="{{ user.experience|default:0 }}" required></smart-input>
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            {% comment %} <label for="id_bio" class="form-label">Bio</label>
                            <textarea name="bio" id="id_bio" style="display: none;">{{ profile.bio }}</textarea>
                            <div id="editor_bio" class="quill-editor" style="height: 200px;"></div> {% endcomment %}
                            <smart-quill
                                name="bio"
                                label="Profile Bio"
                                placeholder="Tell us a little about yourself...">
                            </smart-quill>
                        </div>

                        <div class="text-end mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="ph ph-check-circle mr-1"></i>
                                Save Changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update Email Modal -->
<div class="modal" id="updateEmailModal" tabindex="-1" aria-labelledby="updateEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmailModalLabel">Update Email Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'update_email' %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="new-email" class="form-label">New Email</label>
            <input type="email" id="new-email" name="new_email" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary w-full">Send Verification Email</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // Initialize Quill Editor for the 'bio' field
    const bioTextArea = document.getElementById('id_bio');
    if (bioTextArea) {
        const quill = new Quill('#editor_bio', {
            theme: 'snow',
            placeholder: 'Write your bio here...',
            modules: { toolbar: globalToolbarOptions, 
                history: globalHistoryForQuill }
        });
        
        // Set initial content from the hidden textarea
        quill.root.innerHTML = bioTextArea.value;

        // Update the hidden textarea on text change
        quill.on('text-change', () => {
            bioTextArea.value = quill.root.innerHTML;
        });
    }
});
</script>
{% endblock body %}
