<div class="card p-1">
  {% comment %} <div class="text-start ps-2">
    <h5 class="font-weight-bold">Steps</h5>
    <p class="text-muted font-size-1">Follow the steps to build and publish your course.</p>
  </div> {% endcomment %}
  {% comment %} <hr> {% endcomment %}
  <div class="d-flex flex-column gap-2">
    <smart-list-tile
      leading-icon= {% if request.session.step_one_done %}"ph ph-check-fill"{% else %} "ph ph-identification-card-fill"{% endif %}
      title="Step 1: Core course details"
      subtitle="Set the basic information for your course"
      active-color="primary"
      {% if step != '1' %}  background-color="#2c3e50" {% else %}{% endif %} 
      text-color= {% if step == '1' %}"primary" {% elif request.session.step_one_done %} "#198754" {% else %} "#ecf0f1" {% endif %}
      icon-color= {%if step == '1' %}"primary" {% elif request.session.step_one_done %} "#209e63ff" {% else %} "#000" {% endif %}
      {% if step == '1' %} active {% endif %}
      {% if course %} clickable {% endif %}
      {% if step == '1' %} trailing-icon="ph ph-caret-right" {% endif %}
      onclick="location.href='{% if course %}{% url 'course_create_step_one' course_id=course.id %}{% else %}{% url 'course_create_step_one' %}{% endif %}'">
    </smart-list-tile>

    <smart-list-tile
      leading-icon={% if request.session.step_two_done %}"ph ph-check-fill"{% else %}"ph ph-books-fill" {% endif %}
      title="Step 2: Curriculum"
      subtitle="Define course structure and syllabus"
      active-color="primary"
      {% if step != '2' %} background-color="#2c3e50" {% else %}{% endif %} 
      text-color= {% if step == '2' %}"primary"{% elif request.session.step_two_done %} "#209e63ff" {% else %} "#ecf0f1" {% endif %}
      icon-color= {%if step == '2' %}"primary"{% elif request.session.step_two_done %} "#209e63ff" {% else %} "#000" {% endif %}
      {% if step == '2' %} active {% endif %}
      {% if course %} clickable {% endif %}
      {% if step == '2' %} trailing-icon="ph ph-caret-right" {% endif %}
      onclick="location.href='{% if course %}{% url 'course_create_step_two' course_id=course.id %} {% else %} {% url 'course_create_step_two' %}{% endif %}'">
    </smart-list-tile>

    <smart-list-tile
      leading-icon= {% if request.session.step_three_done %}"ph ph-check-fill"{% else %} "ph ph-list-bullets" {% endif %}
      title="Step 3: Sections & Lessons"
      subtitle="Organize your content into logical parts"
      active-color="primary"
      {% if step != '3' %} background-color="#2c3e50" {% else %}{% endif %} 
      text-color= {% if step == '3' %}"primary" {% elif request.session.step_three_done %} "#209e63ff" {% else %} "#ecf0f1" {% endif %}
      icon-color= {%if step == '3' %}"primary" {% elif request.session.step_three_done %} "#209e63ff" {% else %} "#000" {% endif %}
      {% if step == '3' %} active {% endif %}
      {% if course %} clickable {% endif %}
      {% if step == '3' %} trailing-icon="ph ph-caret-right" {% endif %}
      onclick="location.href='{% if course %}{% url 'course_create_step_three' course_id=course.id %} {% else %} {% url 'course_create_step_three' %} {% endif %}'">
    </smart-list-tile>

    <smart-list-tile
      leading-icon= {% if request.session.step_four_done %}"ph ph-check-fill"{% else %} "ph-fill ph-question" {% endif %}
      title="Step 4: Quiz & Article"
      subtitle="Add quizzes and articles to your course"
      active-color="primary"
      {% if step != '4' %} background-color="#2c3e50" {% else %}{% endif %} 
      text-color= {% if step == '4' %}"primary" {% elif request.session.step_four_done %} "#209e63ff" {% else %} "#ecf0f1" {% endif %}
      icon-color= {%if step == '4' %}"primary" {% elif request.session.step_four_done %} "#209e63ff" {% else %} "#000" {% endif %}
      {% if step == '4' %} active {% endif %}
      {% if course %} clickable {% endif %}
      {% if step == '4' %} trailing-icon="ph ph-caret-right" {% endif %}
      onclick="location.href='{% if course %}{% url 'course_create_step_four' course_id=course.id %} {% else %} {% url 'course_create_step_four' %} {% endif %}'">
    </smart-list-tile>

    <smart-list-tile
      leading-icon= {% if request.session.step_five_done %}"ph ph-check-fill"{% else %} "ph ph-rocket-launch-fill" {% endif %}
      title="Step 5: Finalize & go live"
      subtitle="Finalize everything and launch your course"
      active-color="primary"
      {% if step != '5' %} background-color="#2c3e50" {% else %}{% endif %} 
      text-color= {% if step == '5' %}"primary" {% elif request.session.step_five_done %} "#209e63ff" {% else %} "#ecf0f1" {% endif %}
      icon-color= {%if step == '5' %}"primary" {% elif request.session.step_five_done %} "#209e63ff" {% else %} "#000" {% endif %}
      {% if step == '5' %} active {% endif %}
      {% if course %} clickable {% endif %}
      {% if step == '5' %} trailing-icon="ph ph-caret-right" {% endif %}
      onclick="location.href='{% if course %}{% url 'course_create_step_five' course_id=course.id %} {% else %} {% url 'course_create_step_five' %} {% endif %}'">
    </smart-list-tile>
  </div>

</div>